<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="img\logo-mercado-liebre.svg">
        <nav>Lugar para poner la barra de busqueda <br> <br> Comprar en cuotas y sin tarjeta de credito</nav>
        <ul>
        <li>
           <a href="">Ofertas</a>
        </li>  
        <li>
           <a href="">Tiendas Oficiales</a>
        </li>  
        <li>
           <a href="">Vender</a>
        </li>
        <li>
            <a href="">Ayuda</a>
        </li>
        <br>
        <li>
            <a href="">Crea tu cuenta</a>
        </li>
        <li>
            <a href="">Ingresa</a>
        </li>
        <li>
            <a href="">Mis Compras</a>
        </li>
        </ul>
    </header>
    <main>
        <section>
        <h2>Basado en tu ultima vista</h2>
        <img src="img\img-cafetera-moulinex.jpg">
        <p>
        $6.770 <br>
        40% off <br>
        Cafetera Moulinex
        <img src="img\img-macbook-pro-2019.jpg">
        </p>
        <p>
        $230.000 <br>
        20% off <br>
        Macbook Pro 2019
        </p>
        <img src="img\img-samsung-galaxy-s10.jpg">
        <p>
        $70.500 <br>
        10% off <br>
        Samsung Galaxy S10
        </p>
        <img src="img\img-tv-samsung-smart.jpg">
        <p>
        $23.200 <br>
        5% off <br>
        SmartTv Samsung 43"
        </p>
        </section>

        <section>
        <h2>Seccion de ofertas</h2>
        <img src="img\img-cafetera-moulinex.jpg">
        <p>
        $6.770 <br>
        40% off <br>
        Cafetera Moulinex
        <img src="img\img-macbook-pro-2019.jpg">
        </p>
        <p>
        $230.000 <br>
        20% off <br>
        Macbook Pro 2019
        </p>
        <img src="img\img-samsung-galaxy-s10.jpg">
        <p>
        $70.500 <br>
        10% off <br>
        Samsung Galaxy S10
        </p>
        <img src="img\img-tv-samsung-smart.jpg">
        <p>
        $23.200 <br>
        5% off <br>
        SmartTv Samsung 43"
        </p>
        </section>
    </main>
    <footer>
    <section>
    <h4>Paga con tarjeta de credito en efectivo</h4>
    <p>Con Mercado Liebre Cash, tenes cuotas <br>
        sin interes con tarjeta o efectivo en puntos de <br>
        pago. !Y siempre es seguro!
    </p>
    </section>
    <h4>Envio gratis desde $2.500</h4>
    <p>solo por estar registrado en mercado liebre<br>
        tenemos envios gratis en miles de productos. Es <br>
        un beneficio de Mercado Puntos!
    </p>
    </section>
    </section>
    <h4>Seguridad de principio a fin</h4>
    <p>no te gusta? !Devolvelo!En MercadoLiebre<br>
        no hay nada que no puedas hacer porque estas <br>
        siempre protegid@.
    </p>
    </section>

    <section>Copyright ©︎ 1999-2020 MercadoLiebre S.L.R.</section>
    </footer>
</body>
</html>