<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="img\logo-mercado-liebre.svg">
        <nav>Lugar para poner la barra de busqueda <br> <br> Comprar en cuotas y sin tarjeta de credito</nav>
        <ul>
        <li>
           <a href="">Ofertas</a>
        </li>  
        <li>
           <a href="">Tiendas Oficiales</a>
        </li>  
        <li>
           <a href="">Vender</a>
        </li>
        <li>
            <a href="">Ayuda</a>
        </li>
        <br>
        <li>
            <a href="">Crea tu cuenta</a>
        </li>
        <li>
            <a href="">Ingresa</a>
        </li>
        <li>
            <a href="">Mis Compras</a>
        </li>
        </ul>
    </header>
    <main>
    </main>
    <footer>
    </footer>
</body>
</html>