<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleLogin.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <header class="main-header"> 
            <div class = "main-header-top-bar">
                <img class= "logo" src="img/logo-mercado-liebre.svg"></nav>
                <nav class="Buscador">
                    <input type="search" id="site-search" name="q" />
                    <i class="fa-solid fa-magnifying-glass"></i>
                </nav>
                <h2 class="copy-header"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</h2>
            </div>
            <br>
            <nav class = "main-header-bottom-bar">
                <ul class="left-navbar">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>  
              <br>
                <ul class="right-navbar">
                    <li><a href="/register">Creá tu cuenta<i class="fa-regular fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="#">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </nav>
    </header>
    <br>
   <form class= "form" action="/login" method= "POST">
    <section class="caja-login">
        <label class ="caja-nombre"> 
        <input type="text" name="nombreUsuario" placeholder="Nombre de Usuario">
        </label>
        <br>
        <label class="caja-contraseña"> 
        <input type="password" name="contraseña" placeholder="Contraseña">
        </label>
        <br>
        <button class ="enviar" type ="submit"> Enviar</button>
    </section>
   </form> 
   <footer>
    <div class="main-footer">
    <div class="icono-footer">
    <i class="fa-solid fa-credit-card"></i>
    <h4>Paga con tarjeta de credito en efectivo</h4>
    <section class="centrado">
    <p>Con Mercado Liebre Cash, tenes cuotas <br>
        sin interes con tarjeta o efectivo en puntos de <br>
        pago. !Y siempre es seguro!
    </p>
    </div>
    </section>
    <div class="icono-footer">
    <i class="fa-solid fa-gift"></i>
    <h4>Envio gratis desde $2.500</h4>
    <section class="centrado">
    <p>solo por estar registrado en mercado liebre<br>
        tenemos envios gratis en miles de productos. Es <br>
        un beneficio de Mercado Puntos!
    </p>
    </div>
    </section>
    <div class="icono-footer">
    <i class="fa-solid fa-user-shield"></i> 
    <h4>Seguridad de principio a fin</h4>
    <section class="centrado">
    <p>no te gusta? !Devolvelo!En MercadoLiebre<br>
        no hay nada que no puedas hacer porque estas <br>
        siempre protegid@.
    </p>
    </div>
    </section>
    </div>
    <div class="Copyright">Copyright ©︎ 1999-2020 MercadoLiebre S.L.R.</div>
    </footer>
</body>
</html>
</body>
</html>