*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
body{
    background-color: #ebebeb;
    font-family: 'Roboto';
}
header {
    background-color: #EAC926;
    background-size: contain;
    font-family: 'Roboto';
    margin: auto;
}

.main-navbar{
    display: none;
}
.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

.logo{
    width: 200px;
}
.copy-header{
    font-weight: 400;
    text-align: center;
}


.imagen-banner{
    width: 100%;
    background-size: contain;  
    margin-bottom: -5px;
}
h2 {
    margin-top: 10px;
    font-size: 24px;
    text-align: center;
    color:#666;
    font-family: 'Roboto';
    text-decoration: none;
}
.copy-header{
    color: black;
}

.fa-magnifying-glass {
    background-color: white;
    border: black 1px solid;
}

.fa-hand-holding-dollar {
    background-color: none;
    border: none;
    text-align: center;
}

div {
    text-align: center;
}

.burger-menu {
    background-color: #1259c3;
    color: white;
    font-size: 18px;
    padding: 15px 0;
    max-width: 50px; 
    border-radius: 8px; 
    display: block;
    text-align: center;
    margin: auto;
}

p {
    font-size: 12px;
}

.productos{
    display: flex;
    flex-wrap:wrap;
}

.producto{
    width: 100%;
}


.precios {
    font-size: 18px;
    
}

.descuentos {
    color:green;
    font-size: 16px;
}

.precios, .descuentos{
    flex: 0 0 30%; 
}

.centrado {
    text-align: center;
    background-color: #ebebeb;
    color:black;
}
h4{
    color:black;
}


.icono-footer {
    font-size: 30px;
    color: #1259c3;
}

.icono-footer:hover{
    color:#39b54a;
}

.main-footer {
    font-size: 2em;
    background-color: #ebebeb;
    font-family: 'Roboto';
    margin-bottom: 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

main {
    width: 90vw;
    margin: auto;
    margin-bottom: 10px;
    background-size: contain;
}

.fa-truck {
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color:#39b54a;
    
}


.caja-chica {
    position: relative;
    text-align: left;
    background-color: white;
    border-top: 1px solid #ebebeb;
    padding: 5px;
    padding-top: 15px;
    display: none;
}

.caja-descripcion{
    display: flex;
    justify-content: space-between;
}

section {
    background-size: contain;
}

.imagen-productos{
    width: 100%;
    background-size: contain;
}

article {
    margin: 10px;
    padding: 10px;
}


@media (min-width: 361px) {
    .caja-chica{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .imagen-productos{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .burger-menu {
        display: none;
    }
    .producto{
        width: 50%;
        margin: 0;
    }
    .logo{
        display: flex;
        justify-content: flex-start;
    }
    input{
        border: none;
        padding: 10px;
        border-radius: 5px;
        position: relative;
    }
    
    .fa-magnifying-glass{
        border: none;
        top:10px;
        right: 110px;

    }
    .barra-busqueda{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .lupa{
        display: block;
    }
    .lupa-padre{
        align-items: center;
        display: flex;
        justify-content: center;
        position: relative;
        left: 85px;
        bottom:25px;
    }

 .producto:hover{
        box-shadow: 0px 0px 25px rgb(40, 40, 40);
       .caja-chica{ display:block;
    }
}
    .fa-truck:hover{
        background-color: #222222;
        transform: rotate(90deg);
        transition-property: all;
        transition-duration: 2s;

    }
}

    
@media (max-width: 360px){
    .caja-chica{
        display: none;
    }
    .site-login{
        display: none;
    }
    .producto{
        width: 100%;
        margin: 0;
    }
    .main-header-top-bar{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        flex-wrap: wrap;
        margin: 0;
        text-align: center;
    }
    .barra-busqueda{
        width: 50%;
        display: flex;
        align-items: center;
        border-radius: 15px;
        padding: 15px;
        position: relative;
        border: none;
        flex-direction: row;
    }
    .copy-header{
     font-size: 14px;
     text-align: center;
     margin: auto;
    }
    .fa-magnifying-glass{
    left: 180px;
    color: black; 
    border: 0;
    top:0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color:none;
    height: 10px;
    }

    input{
        border-radius: 5px;
        padding: 10px;
        border: none;  
        position: relative;
    }
    .logo-busqueda{
        display: flex;
        margin: 0;
        width: 40%;
        justify-content: space-between;

    }
    .lupa{
        display: block;
    }
    .lupa-padre{
        align-items: center;
        display: flex;
        justify-content: center;
        position: relative;
        right:20px
    }
    .producto:hover{
        box-shadow: 0px 0px 25px rgb(40, 40, 40);
       .caja-chica{ display:block;
    }
}
    .fa-truck:hover{
        background-color: #222222;
        transform: rotate(90deg);
        transition-property: all;
        transition-duration: 2s;

    }
}



@media (min-width: 769px) {
    .producto{
        width: 25%;
        margin: 0;
    }
    .main-header-top-bar {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
    }
    .copy-header{
        width: 350px;
        text-align: right;
    }
    .main-navbar{
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul {
        display: flex;
    }
    .main-navbar li {
        display: flex;
        margin: 0 5px;
        margin-bottom: 5px;
        margin-top: 20px;
    }
    input{
        width: 200%;
        border: none;
        padding: 10px;
        border-radius: 5px;
        position: relative;
        left: 280px;
    }
    .logo{
        display: flex;
        justify-content: flex-start;
    }
    .fa-magnifying-glass{
        background-color: white;
        border: none;
    }
        .barra-busqueda{
       margin-bottom: 20px;
        padding: 20px;
    }
    .lupa{
       display: block;
    }
    .lupa-padre{
        align-items: center;
        display: flex;
        justify-content: center;
        position: relative;
        left: 550px;
    }
    .producto:hover{
        box-shadow: 0px 0px 25px rgb(40, 40, 40);
       .caja-chica{ display:block;
    }
    .fa-truck:hover{
        background-color: #222222;
        transform: rotate(90deg);
        transition-property: all;
        transition-duration: 2s;

    }
}
}

@media (min-width: 1200px) {
    .main-header-top-bar, .main-navbar{
        margin: auto;
        display: flex;
    }
    .main-navbar li {
        display: flex;
        margin: 0 10px;
        margin-left: 50px
    }
    .main-navbar a {
        font-size: 19px;
        text-decoration: none;
        color: black;
        margin: 0;
    }
    .copy-header{
        max-width: none;
        font-size: 18px;
        font-weight: 400;
        margin: 0;
    }
    .logo{
        width: 250px;
        display: flex;
        justify-content: flex-start;
    }
    .main-header-top-bar{
        align-items: center;
    }
    .lupa-padre{
        align-items: center;
        display: flex;
        justify-content: center;
        position: relative;
        left: 700px;
    }
    .lupa{
        display: block;
    }
    input{
        width: 200%;
        border: none;
        padding: 10px;
        border-radius: 5px;
        position: relative;
        left: 350px;
    }
    .producto:hover{
        box-shadow: 0px 0px 25px rgb(40, 40, 40);
       .caja-chica{ display:block;
    }
}
    .fa-truck:hover{
        background-color: #222222;
        transform: rotate(90deg);
        transition-property: all;
        transition-duration: 2s;

    }
}

    

    


